@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.blogPostLayoutGrid {
  margin: 0;
  padding: 0;
  list-style: none;
  
  /* force nav to be on the right and don't overlap with content */
  @media(--media-min-medium) {
    display: grid;
    grid-template-areas: "main nav";
    grid-template-columns: auto 70px;
  }

  /* hack: no grid on xl size to center blog post content */
  @media(--media-min-xlarge) {
    display: block;
    grid-template-columns: none;
  }
}

.content {
  grid-area: main;
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}
